


*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.title-text{
    text-align: center;
padding-bottom: 70px;
}

.title-text p {
margin: auto;
font-size: 20px;
color: #009688;
font-weight: bold;
position: relative;
z-index: 1;
display: inline-block;
}

.title-text p::after{
content: '';
width: 50px;
height: 35px;
background: linear-gradient(#019587,#fff);
position:absolute;
top: -20px;
left: 0;
z-index:-1;
transform: rotate(10deg);
border-top-left-radius:35px ;
border-bottom-right-radius: 35px;
}

.title-text h1{
font-size: 50px;
}
#contact{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
   }
   .contact-row{
       width: 80%;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   .contact-left,.contact-right
   {
   flex-basis: 45%;
   padding: 10px;
   margin-bottom: 20px;
   }
   .contact-right{
       text-align: right;
   }
   .contact-row h1{
       margin: 10px 0;
   }
   .contact-row p{
       line-height: 34px;
   }
   .contact-left .fa,.contact-right .fa{
       font-size: 20px;
       color: #009688;
       margin: 10px;
   }
   .contact-img
   {
       max-width: 5000px;
       opacity: 0.1;
       position: absolute;
       left: 50%;
       top: 25%;
       transform: translate(-50%,-50%);
   }
   .social-links
   {
       text-align: center;
   }
   .social-links .fa{
       height: 40px;
       width: 40px;
       font-size: 20px;
       line-height: 40px;
       border: 1px solid #009688;
       margin: 40px 5px 0;
       color: #009688;
       transition: 0.5s;
   } 
   .social-links .fa:hover{
       background: #009688;
       color: #fff;
       transform: translateY(-7px);
   }    
   .social-links h1{
       font-size: 20px;
       margin-top: 20px;
       color: #009688;
   }  
   @media  screen and (max-width: 770px)
   {
   .contact-left,.contact-right 
     {
       flex-basis: 100%;
       font-size: 14px;
     } 
   .contact-img
   {
       top: 25%;
   }  
   }